# Projeto de Ànalise de Dados

In [5]:
#Vamos importar a biblioteca para trabalhar com arquivos
import os
#Vamos importar a biblioteca para ler os arquivos
import pandas as pd

#Biblioteca Grafica
import plotly.express as px
import numpy as np

In [6]:
#Vamos percorrer todos os arquivos que estão dentro da pasta vendas

file_list = os.listdir("Vendas1/Vendas")

#Podemos ver todos os arquivos da nossa base de dados
display(file_list)

['Devolucoes - Belo Horizonte.csv',
 'Devolucoes - Curitiba.csv',
 'Devolucoes - Fortaleza.csv',
 'Devolucoes - Goiás.csv',
 'Devolucoes - Porto Alegre.csv',
 'Devolucoes - Recife.csv',
 'Devolucoes - Rio de Janeiro.csv',
 'Devolucoes - Salvador.csv',
 'Devolucoes - São Paulo.csv',
 'Vendas - Belo Horizonte.csv',
 'Vendas - Curitiba.csv',
 'Vendas - Fortaleza.csv',
 'Vendas - Goiás.csv',
 'Vendas - Porto Alegre.csv',
 'Vendas - Recife.csv',
 'Vendas - Rio de Janeiro.csv',
 'Vendas - Salvador.csv',
 'Vendas - São Paulo.csv']

In [7]:
#Vamos Importar as bases
tabela_total = pd.DataFrame()

for file in file_list:
    if("Vendas" in file):
        tabela = pd.read_csv(f"Vendas1/Vendas/{file}")
        print(file)
        display(tabela)
        tabela_total = tabela_total.append(tabela)

Vendas - Belo Horizonte.csv

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,17,HL4379,Televisão,2,Carolina,Alfradique,2/25/2018,Belo Horizonte,2500,NaN
1,25,HL4379,Televisão,1,Danilo,Rubim,2/20/2018,Belo Horizonte,2500,NaN
2,27,HL1918,iPhone,5,Bernard,Pedrosa,7/7/2018,Belo Horizonte,5300,NaN
3,54,HL1918,iPhone,5,Lucas,Lemos,12/26/2018,Belo Horizonte,5300,NaN
4,67,HL8851,Notebook,5,Bernardo,Botelho,6/8/2018,Belo Horizonte,3500,NaN
...,...,...,...,...,...,...,...,...,...,...
644,9910,HL1148,Câmera,4,Norman,Jimbo,2/17/2018,Belo Horizonte,2100,NaN
645,9927,HL2714,Tablet,2,Marina,Marins,1/29/2018,Belo Horizonte,1600,NaN
646,9932,HL1918,iPhone,1,José,Vieira,5/11/2018,Belo Horizonte,5300,NaN
647,9942,HL4379,Televisão,1,Fernanda,Junior,2/9/2018,Belo Horizonte,2500,NaN
648,9978,HL8851,Notebook,2,Mariane,Racy,12/28/2018,Belo Horizonte,3500,NaN

Vendas - Curitiba.csv

C:\Users\pedro\AppData\Local\Temp\ipykernel_60672\3740801980.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,0,HL4379,Televisão,5,Gabriel,Thoni,6/30/2018,Curitiba,2500,NaN
1,7,HL2714,Tablet,2,Thays,Castro,3/7/2018,Curitiba,1600,NaN
2,22,HL1918,iPhone,3,Lucas,Rodrigues,10/8/2018,Curitiba,5300,NaN
3,28,HL1918,iPhone,3,Gabriel,Silva,8/21/2018,Curitiba,5300,NaN
4,59,HL4379,Televisão,3,Pedro,Conceição,5/16/2018,Curitiba,2500,NaN
...,...,...,...,...,...,...,...,...,...,...
714,9859,HL2714,Tablet,1,Júlio,Fraga,12/25/2018,Curitiba,1600,NaN
715,9876,HL4379,Televisão,5,Bruno,Mota,4/30/2018,Curitiba,2500,NaN
716,9918,HL1148,Câmera,2,Lucas,Reis,12/27/2018,Curitiba,2100,NaN
717,9944,HL1918,iPhone,5,Raphael,Kurtz,7/16/2018,Curitiba,5300,NaN
718,9998,HL7348,SmartWatch,1,Vinícius,Antunes,12/10/2018,Curitiba,1400,NaN

Vendas - Fortaleza.csv

C:\Users\pedro\AppData\Local\Temp\ipykernel_60672\3740801980.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,2,HL1148,Câmera,2,Camila,Sobral,10/21/2018,Fortaleza,2100,NaN
1,3,HL1918,iPhone,3,Clara,Bruno,7/8/2018,Fortaleza,5300,NaN
2,4,HL9962,Android,4,Eduardo,Pacheco,12/19/2018,Fortaleza,3400,NaN
3,11,HL1918,iPhone,2,Rafael,Rocha,12/22/2018,Fortaleza,5300,NaN
4,15,HL2714,Tablet,2,Caio,Ferreira,7/26/2018,Fortaleza,1600,NaN
...,...,...,...,...,...,...,...,...,...,...
1442,9959,HL1918,iPhone,4,Rafael,Carneiro,6/19/2018,Fortaleza,5300,NaN
1443,9974,HL1148,Câmera,2,Thales,Gouvêa,2/20/2018,Fortaleza,2100,NaN
1444,9979,HL1918,iPhone,5,Brenno,Santos,10/18/2018,Fortaleza,5300,NaN
1445,9994,HL4379,Televisão,2,Caio,Ferreira,5/18/2018,Fortaleza,2500,NaN
1446,9995,HL1148,Câmera,5,Kim,Ferreira,3/6/2018,Fortaleza,2100,NaN

Vendas - Goiás.csv

C:\Users\pedro\AppData\Local\Temp\ipykernel_60672\3740801980.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,13,HL4379,Televisão,1,Daniel,Monteiro,5/23/2018,Goiás,2500,NaN
1,19,HL9962,Android,4,Elaine,Santos,7/5/2018,Goiás,3400,NaN
2,45,HL1918,iPhone,5,Lenon,Fernandes,3/31/2018,Goiás,5300,NaN
3,50,HL7348,SmartWatch,1,Vivianne,Rodrigues,8/11/2018,Goiás,1400,NaN
4,97,HL7348,SmartWatch,2,Pedro,Rodrigues,7/26/2018,Goiás,1400,NaN
...,...,...,...,...,...,...,...,...,...,...
727,9925,HL1918,iPhone,2,Victor,Gomes,1/9/2018,Goiás,5300,NaN
728,9937,HL8851,Notebook,2,Gabriel,Ribeiro,11/28/2018,Goiás,3500,NaN
729,9943,HL2714,Tablet,2,Giuseppe,Borges,10/5/2018,Goiás,1600,NaN
730,9968,HL2714,Tablet,2,Caio,Caldas,4/4/2018,Goiás,1600,NaN
731,9975,HL8851,Notebook,2,Anna,Maia,10/22/2018,Goiás,3500,NaN

Vendas - Porto Alegre.csv

C:\Users\pedro\AppData\Local\Temp\ipykernel_60672\3740801980.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,14,HL4379,Televisão,4,Ylana,Teraoka,6/23/2018,Porto Alegre,2500,NaN
1,34,HL1148,Câmera,1,Rubens,Netto,7/11/2018,Porto Alegre,2100,NaN
2,43,HL1148,Câmera,5,Paloma,Sperandei,9/15/2018,Porto Alegre,2100,NaN
3,49,HL8851,Notebook,5,Breno,Farias,6/24/2018,Porto Alegre,3500,NaN
4,52,HL4379,Televisão,2,Lorena,Kohn,7/31/2018,Porto Alegre,2500,NaN
...,...,...,...,...,...,...,...,...,...,...
699,9947,HL1918,iPhone,2,Gabrielle,Vasconcelos,2/20/2018,Porto Alegre,5300,NaN
700,9980,HL1918,iPhone,5,João,Rodrigues,1/21/2018,Porto Alegre,5300,NaN
701,9983,HL2714,Tablet,5,Bianca,Tatsch,2/12/2018,Porto Alegre,1600,NaN
702,9993,HL1148,Câmera,4,Victor,Lira,7/26/2018,Porto Alegre,2100,NaN
703,9997,HL1918,iPhone,4,Norman,Jimbo,6/13/2018,Porto Alegre,5300,NaN

Vendas - Recife.csv

C:\Users\pedro\AppData\Local\Temp\ipykernel_60672\3740801980.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,1,HL4379,Televisão,3,Renan,Nascimento,9/14/2018,Recife,2500,NaN
1,24,HL2714,Tablet,5,Carla,Zakhm,11/13/2018,Recife,1600,NaN
2,26,HL1918,iPhone,4,Bianca,Tatsch,10/10/2018,Recife,5300,NaN
3,35,HL1918,iPhone,3,Guido,Monteiro,4/18/2018,Recife,5300,NaN
4,44,HL4379,Televisão,1,Eduardo,Quindeler,7/20/2018,Recife,2500,NaN
...,...,...,...,...,...,...,...,...,...,...
720,9938,HL4379,Televisão,3,Fernanda,Silva,12/18/2018,Recife,2500,NaN
721,9941,HL2714,Tablet,5,Alvaro,Kranz,11/21/2018,Recife,1600,NaN
722,9969,HL1918,iPhone,4,Itai,Puntel,11/6/2018,Recife,5300,NaN
723,9986,HL9962,Android,4,Julia,Leite,4/8/2018,Recife,3400,NaN
724,9992,HL1918,iPhone,1,Marina,Cormack,12/31/2018,Recife,5300,NaN

Vendas - Rio de Janeiro.csv

C:\Users\pedro\AppData\Local\Temp\ipykernel_60672\3740801980.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,8,HL4379,Televisão,4,Jessica,Cordovil,2/11/2018,Rio de Janeiro,2500,NaN
1,12,HL1918,iPhone,2,Camilla,Guimarães,10/4/2018,Rio de Janeiro,5300,NaN
2,21,HL4379,Televisão,5,Katharina,Barros,3/26/2018,Rio de Janeiro,2500,NaN
3,39,HL9962,Android,1,Rodrigo,Silva,1/14/2018,Rio de Janeiro,3400,NaN
4,41,HL4379,Televisão,3,Júlio,Freire,6/30/2018,Rio de Janeiro,2500,NaN
...,...,...,...,...,...,...,...,...,...,...
1462,9971,HL1918,iPhone,4,Isaac,Santos,12/3/2018,Rio de Janeiro,5300,NaN
1463,9976,HL9962,Android,2,Andreza,Ramos,12/17/2018,Rio de Janeiro,3400,NaN
1464,9982,HL4379,Televisão,3,Leticia,Mesquita,5/22/2018,Rio de Janeiro,2500,NaN
1465,9987,HL1918,iPhone,5,Manuela,Merege,9/12/2018,Rio de Janeiro,5300,NaN
1466,9989,HL1918,iPhone,5,Rafael,Carneiro,2/28/2018,Rio de Janeiro,5300,NaN

Vendas - Salvador.csv

C:\Users\pedro\AppData\Local\Temp\ipykernel_60672\3740801980.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,40,HL1148,Câmera,2,Gabriel,Almeida,11/16/2018,Salvador,2100,NaN
1,42,HL2714,Tablet,5,Rodrigo,Alves,2/27/2018,Salvador,1600,NaN
2,51,HL1918,iPhone,4,Ulisses,Arruda,5/5/2018,Salvador,5300,NaN
3,70,HL9962,Android,3,Raissa,Negrelli,3/10/2018,Salvador,3400,NaN
4,94,HL1918,iPhone,2,Breno,Caputo,3/30/2018,Salvador,5300,NaN
...,...,...,...,...,...,...,...,...,...,...
1325,9965,HL1148,Câmera,4,Samara,Pinto,3/11/2018,Salvador,2100,NaN
1326,9970,HL9962,Android,1,Fernanda,Junior,9/12/2018,Salvador,3400,NaN
1327,9972,HL1918,iPhone,4,Helena,Chafin,8/10/2018,Salvador,5300,NaN
1328,9988,HL1918,iPhone,1,Aline,Morais,5/23/2018,Salvador,5300,NaN
1329,9990,HL8851,Notebook,2,Raíssa,Oros,5/20/2018,Salvador,3500,NaN

Vendas - São Paulo.csv

C:\Users\pedro\AppData\Local\Temp\ipykernel_60672\3740801980.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,5,HL1918,iPhone,4,Sarah,Souza,2/14/2018,São Paulo,5300,NaN
1,6,HL7348,SmartWatch,3,Alexandre,Rodriguez,5/20/2018,São Paulo,1400,NaN
2,9,HL1148,Câmera,3,Camille,Silva,3/26/2018,São Paulo,2100,NaN
3,10,HL1918,iPhone,3,Alon,Palmeira,11/6/2018,São Paulo,5300,NaN
4,18,HL8851,Notebook,4,Leandro,Rodrigues,8/6/2018,São Paulo,3500,NaN
...,...,...,...,...,...,...,...,...,...,...
2221,9981,HL7348,SmartWatch,4,João,Junior,4/14/2018,São Paulo,1400,NaN
2222,9984,HL1918,iPhone,4,Itai,Puntel,5/2/2018,São Paulo,5300,NaN
2223,9985,HL1918,iPhone,1,Guilherme,Vianna,3/18/2018,São Paulo,5300,NaN
2224,9991,HL7348,SmartWatch,5,Antônio,Soares,11/21/2018,São Paulo,1400,NaN
2225,9996,HL4379,Televisão,5,Caio,Moraes,1/22/2018,São Paulo,2500,NaN

C:\Users\pedro\AppData\Local\Temp\ipykernel_60672\3740801980.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)

In [8]:
display(tabela_total)

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,17,HL4379,Televisão,2,Carolina,Alfradique,2/25/2018,Belo Horizonte,2500,NaN
1,25,HL4379,Televisão,1,Danilo,Rubim,2/20/2018,Belo Horizonte,2500,NaN
2,27,HL1918,iPhone,5,Bernard,Pedrosa,7/7/2018,Belo Horizonte,5300,NaN
3,54,HL1918,iPhone,5,Lucas,Lemos,12/26/2018,Belo Horizonte,5300,NaN
4,67,HL8851,Notebook,5,Bernardo,Botelho,6/8/2018,Belo Horizonte,3500,NaN
...,...,...,...,...,...,...,...,...,...,...
2221,9981,HL7348,SmartWatch,4,João,Junior,4/14/2018,São Paulo,1400,NaN
2222,9984,HL1918,iPhone,4,Itai,Puntel,5/2/2018,São Paulo,5300,NaN
2223,9985,HL1918,iPhone,1,Guilherme,Vianna,3/18/2018,São Paulo,5300,NaN
2224,9991,HL7348,SmartWatch,5,Antônio,Soares,11/21/2018,São Paulo,1400,NaN
2225,9996,HL4379,Televisão,5,Caio,Moraes,1/22/2018,São Paulo,2500,NaN

In [9]:
#Vamos calcular os indicadores e fazer as representações graficas
#Primeiro vamos calcular o produto mais vendido em quantidade

tabela_qtd = tabela_total[["Produto","Quantidade Vendida"]].groupby("Produto").sum()
display(tabela_qtd.sort_values(by="Quantidade Vendida",ascending=0))

            Quantidade Vendida
Produto
iPhone                    8974
Televisão                 5931
Notebook                  3249
Android                   3183
SmartWatch                2980
Tablet                    2921
Câmera                    2805

In [10]:
#Agora vamos calcular o produto com o maior faturamento
tabela_faturamento = tabela_total[["Produto","Quantidade Vendida","Preco Unitario"]].groupby("Produto").sum()
tabela_faturamento["Faturamento"] = tabela_faturamento["Quantidade Vendida"] * tabela_faturamento["Preco Unitario"]
display(tabela_faturamento[["Faturamento"]].sort_values(by="Faturamento",ascending=0))

             Faturamento
Produto
iPhone      141592669400
Televisão    29091555000
Notebook     12076533000
Android      11558109600
Câmera        5666661000
Tablet        4547412800
SmartWatch    4151140000

In [11]:
#Vamos calcular a loja/cidade que mais vendeu e criar um dashboard

tabela_loja = tabela_total[["Loja","Quantidade Vendida","Preco Unitario"]].groupby("Loja").sum()
tabela_loja["Faturamento_per_loja"] = tabela_loja["Quantidade Vendida"] * tabela_loja["Preco Unitario"]
tabela_loja['Cidade'] = tabela_loja.index
tabela_loja = tabela_loja[["Faturamento_per_loja","Cidade"]].sort_values(by="Faturamento_per_loja",ascending=0)
tabela_loja.reset_index(drop=True, inplace=True)
display(tabela_loja)

   Faturamento_per_loja          Cidade
0           48991164400       São Paulo
1           21834527900  Rio de Janeiro
2           20388672000       Fortaleza
3           17500939300        Salvador
4            5429451400           Goiás
5            5322384000          Recife
6            5027317200        Curitiba
7            4848045900    Porto Alegre
8            4139135000  Belo Horizonte

In [15]:
grafico = px.bar(tabela_loja,x = "Cidade" ,y = "Faturamento_per_loja")
grafico.show()